<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="Utility.ITestListenerClass"> </listener>
    </listeners>
    <test thread-count="5" name="Test">
        <classes>
            <!-- <class name="TestCases.LoginTestDrivenData"/> -->
            <!--  <class name="TestCases.SearchTestCase"/> -->
            <!-- <class name="TestCases.DashboardTestCase"/> -->
            <class name="TestCases.PaymentTestCase"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->